<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>TestAppEngineProject</servlet-name>
		<servlet-class>ca.appengine.project.test.TestAppEngineProjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestAppEngineProject</servlet-name>
		<url-pattern>/testappengineproject</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>ca.appengine.project.test.SignGuestbookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign/*</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>queryprocessor</servlet-name>
        <servlet-class>ca.appengine.project.test.QueryProcessorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>queryprocessor</servlet-name>
        <url-pattern>/queryprocessor/*</url-pattern>
    </servlet-mapping>
	<servlet>
    	<servlet-name>results</servlet-name>
    	<servlet-class>ca.appengine.project.test.QueryForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>results</servlet-name>
    	<url-pattern>/results/*</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>spotdetails</servlet-name>
    	<servlet-class>ca.appengine.project.test.SpotQueryForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>spotdetails</servlet-name>
    	<url-pattern>/spotdetails/*</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>registerspot</servlet-name>
    	<servlet-class>ca.appengine.project.test.RegisterSpotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>registerspot</servlet-name>
    	<url-pattern>/registerspot/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>cancelspot</servlet-name>
    	<servlet-class>ca.appengine.project.test.CancelSpotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>cancelspot</servlet-name>
    	<url-pattern>/cancelspot/*</url-pattern>
    </servlet-mapping>
    
        <servlet>
    	<servlet-name>reservespot</servlet-name>
    	<servlet-class>ca.appengine.project.test.ReserveSpotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>reservespot</servlet-name>
    	<url-pattern>/reservespot/*</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>queryspot</servlet-name>
    	<servlet-class>ca.appengine.project.test.QuerySpotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>queryspot</servlet-name>
    	<url-pattern>/queryspot/*</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<!-- <welcome-file>index.html</welcome-file> -->
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
